Types of Data structures

In [10]:
a = [1,2,3,4,5,6,7]
b = (1,2,3,4,5,6,7)
c = {1,2,3,3,2,4,5,1,7,7,6,7}
d = {'One':1,'Two':2,'three':3,'four':4,'five':5}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [18]:
print(a[0])
print(b[5])
print(tuple(c)[3])
print(c)
print(d['One'])

1
6
4
{1, 2, 3, 4, 5, 6, 7}
1

In [20]:
a[0]=10
print(a)

[10, 2, 3, 4, 5, 6, 7]