Removing an item by value : [12/12/2023]

In [1]:
Motorcycle = ['Honda','Yamaha','suzuki', 'Dukati']
print(Motorcycle)
Motorcycle.remove('Dukati')
print(Motorcycle)

['Honda', 'Yamaha', 'suzuki', 'Dukati']
['Honda', 'Yamaha', 'suzuki']

Reason for removing Dukati

In [3]:
Motorcycle = ['Honda','Yamaha','suzuki', 'Dukati']
print(Motorcycle)
Motorcycle.remove('Dukati')
print(Motorcycle)
print("Reason for removing Dukati : Dukati is costly")

['Honda', 'Yamaha', 'suzuki', 'Dukati']
['Honda', 'Yamaha', 'suzuki']
Reason for removing : Dukati is costly

In [6]:
Motorcycle = ['Honda','Yamaha','suzuki', 'Dukati']
print(Motorcycle)
too_expensive = 'Dukati'
Motorcycle.remove(too_expensive)
print(Motorcycle)
print(f"\n A {too_expensive.title()} is too expensive for me")

['Honda', 'Yamaha', 'suzuki', 'Dukati']
['Honda', 'Yamaha', 'suzuki']

 A Dukati is too expensive for me

Assignment 1 : date- 12/12/2023

In [1]:
Name = ['Spandan','Bhaskar','Abhishek','Rajveer','Abhirub']
print(Name)

['Spandan', 'Bhaskar', 'Abhishek', 'Rajveer', 'Abhirub']

In [3]:
Name = ['Spandan','Bhaskar','Abhishek','Rajveer','Abhirub']
print(Name[0])
print(Name[1])
print(Name[2])
print(Name[3])
print(Name[4])

Spandan
Bhaskar
Abhishek
Rajveer
Abhirub

In [5]:
Name = ['Spandan','Bhaskar','Abhishek','Rajveer','Abhirub']
print(f"hello {Name[0]} have a good day")
print(f"hello {Name[1]} have a good day")
print(f"hello {Name[2]} have a good day")
print(f"hello {Name[3]} have a good day")
print(f"hello {Name[4]} have a good day")

hello Spandan have a good day
hello Bhaskar have a good day
hello Abhishek have a good day
hello Rajveer have a good day
hello Abhirub have a good day

In [9]:
Car = ['TataMotors','Audi','Thar','Jaguar', 'lamborgini']
Name = ['Spandan','Bhaskar','Abhishek','Rajveer','Abhirub']
print(f"{Name[0]} will come by {Car[0]}")
print(f"{Name[1]} will come by {Car[1]}")
print(f"{Name[2]} will come by {Car[2]}")
print(f"{Name[3]} will come by {Car[3]}")
print(f"{Name[4]} will come by {Car[4]}")

Spandan will come by TataMotors
Bhaskar will come by Audi
Abhishek will come by Thar
Rajveer will come by Jaguar
Abhirub will come by lamborgini

Sorting a list : Sorting is a method to sort the objects alphabetically

In [10]:
Cars = ['Mahendra','Skoda','Audi','Tata','Audi']
Cars.sort()
print(Cars)

['Audi', 'Audi', 'Mahendra', 'Skoda', 'Tata']

In [11]:
Cars = ['Mahendra','Skoda','Audi','Tata','Audi']
Cars.sort(reverse=True)
print(Cars)

['Tata', 'Skoda', 'Mahendra', 'Audi', 'Audi']

In [12]:
Friends = ['Rajkrishna','Rohit','Subhajit','Shamikh','Madhuparna','Rachita','Priyanka']
Friends.sort()
print(Friends)

['Madhuparna', 'Priyanka', 'Rachita', 'Rajkrishna', 'Rohit', 'Shamikh', 'Subhajit']

In [13]:
#Sorting a method Temporarily

Friends = ['Rajkrishna','Rohit','Subhajit','Shamikh','Madhuparna','Rachita','Priyanka']
print("Original list of friends")
print(Friends)
print("\n here is the sorted list")
print(sorted(Friends))
print("\n these are the original list")
print(Friends)

Original list of friends
['Rajkrishna', 'Rohit', 'Subhajit', 'Shamikh', 'Madhuparna', 'Rachita', 'Priyanka']

 here is the sorted list
['Madhuparna', 'Priyanka', 'Rachita', 'Rajkrishna', 'Rohit', 'Shamikh', 'Subhajit']

 these are the original list
['Rajkrishna', 'Rohit', 'Subhajit', 'Shamikh', 'Madhuparna', 'Rachita', 'Priyanka']

In [14]:
#printing the list in reverse order 
#Example: 1

Cars = ['Mahendra','Skoda','Audi','Tata','Audi']
print(Cars)
Cars.reverse()
print(Cars)

['Mahendra', 'Skoda', 'Audi', 'Tata', 'Audi']
['Audi', 'Tata', 'Audi', 'Skoda', 'Mahendra']

In [16]:
#Example 2

Friends = ['Rajkrishna','Rohit','Subhajit','Shamikh','Madhuparna','Rachita','Priyanka']
print(Friends)
Friends.reverse()
print(Friends)

['Rajkrishna', 'Rohit', 'Subhajit', 'Shamikh', 'Madhuparna', 'Rachita', 'Priyanka']
['Priyanka', 'Rachita', 'Madhuparna', 'Shamikh', 'Subhajit', 'Rohit', 'Rajkrishna']

Making Numericals list: by using range() function

In [2]:
value = [1,2,3,4,5]
print(value)

[1, 2, 3, 4, 5]

slicing a list