Python:Basics

In [1]:
#print 

age = 'How old are you'
print(age)

How old are you

In [3]:
#boolean 

a = 10
b = 0.5
print(a>b)
print("\n a is greater than b")
print(a<b)

True

 a is greater than b
False

In [8]:
#python formatting [note: be careful of overrride behaviour]

'good morning'

print('good')

'good evening'

good

'good evening'

In [11]:
#concept of triple doble inverted commas [anything within the 
   #triple inverted commas will preserve position and line when printing]

print(""" hello this is anumoy 


                  49
      
      4""")

 hello this is anumoy


                  49

      4

In [12]:
#Escape character : put \ infront of inverted comma in order to "or' in a string:

print("My name is 'Anumoy'")
print('My name is "Anumoy"')
print("My name is \"Anumoy\"") #Escape charachter or backslash

My name is 'Anumoy'
My name is "Anumoy"
My name is "Anumoy"

In [18]:
#arethmetic and logical operators 

A = 50000
B = 50
print (A*B)
print(A+B)
print(A/B)
print(A-B)
print(A**B)
print(A==B)
print(A==B)
print(A<=B)
print(A>=B)
print(A>B)
print(A<B)
print(A and B)
print(A or B)

2500000
50050
1000.0
49950
8881784197001252323389053344726562500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
False
False
False
True
True
False
50
50000

In [19]:
#types of variables: 

a= 10
print(type(a))
a = 0.05
print(type(a))
a = 2+8j
print(type(a))
a = 'hello'
print(type(a))
a = ['A','B','C']
print(type(a))
a = ('A','B',123)
print(type(a))
a = {1,2,3,4,1,2,3,0}
print(type(a))
print(a)
a = {'student1':'Anumoy', 'Student2': 'Spandan'}
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
{0, 1, 2, 3, 4}
<class 'dict'>

In [21]:
#string methods 

name = 'anumoy'
print(name.title())
print(name.upper())
print(name.lower())

name = '       anumoy       '
print(name.lstrip())
print(name.rstrip())
print(name.strip())

Anumoy
ANUMOY
anumoy
anumoy
       anumoy
anumoy

In [26]:
#list methods: 

#identifying index
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[-1])

#slicing of a given list: 

print(numbers[0:-1])
print(numbers[3:-1])
print(numbers[5:-2])

1
2
3
9
[1, 2, 3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[6, 7]

In [40]:
#adding, deleting & inserting into the list 

friends = ['Spandan','bhaskar','abhisekh']
friends.append('sichitaj')
print(friends)
friends.remove('sichitaj')
print(friends)
del friends[2]
print(friends)

numbers = [1,2,3,4,5,6,7,8,9]
numbers.append(10)
print(numbers)
numbers.remove(10)
print(numbers)
a= numbers.pop()
print(a)
print(numbers)

['Spandan', 'bhaskar', 'abhisekh', 'sichitaj']
['Spandan', 'bhaskar', 'abhisekh']
['Spandan', 'bhaskar']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
#to copy list:

numbers1 = [1,2,3,4,5,6,7,8,9]
numbers2 = numbers1
numbers2.append(100)
print(numbers1)


numbers1 = [1,2,3,4,5,6,7,8,9]
numbers2 = numbers1[:]
numbers2.append(100)
print(numbers1)
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]